<html>
    <head>
        <title>Your account - Steve from IT Banking</title>
    </head>

    <style>
        body {
        background-color:lightblue;
        }

        h1 {
        color: white;
        text-align: center;
        }

        h2 {
        color: white;
        text-align: center;
        }

        form {
        text-align: center;
        }

        p {text-align: center;}
        div {text-align: center;}
    </style>

    <body>
        <h2>Your account</h2>
        <h1>Your balance: ${user.account.balance}</h1>
        <Button>Make Deposit</Button>
        <Button>Make Withdrawal</Button>
    </body>
</html>