<html>
    <head>
        <title>Home page - Steve from IT Banking</title>
    </head>

    <style>
        body {
        background-color:lightblue;
        }

        h1 {
        color: white;
        text-align: center;
        }

        h2 {
        color: white;
        text-align: center;
        }

        form {
        text-align: center;
        }

        p {text-align: center;}
        div {text-align: center;}
    </style>

    <body>
        <a href="logout">Log Out</a>
        <h2>Welcome {{name}} !</h2>
        <h1>Your account:</h2>
        <body>Account Number: {{number}}<br>
            Balance: ${{balance}}<br></b>
        <a href="proceed"></a></Button>
    </body>
</html>