<html>

  <head>
    <title>Steve from IT Banking</title>
  </head>

  <style>
    body {
      background-color:lightblue;
    }

    h1 {
      color: white;
      text-align: center;
    }

    p {
      color: white;
      text-align: center;
      font-size: 20px;
    }

    form {
      text-align: center;
    }

    footer {
      text-align: center;
      font-size: 10px;
    }

  </style>

  <body>
      <h1>Welcome to Steve from IT Banking</h1>
      <p>Please login to continue</p>
      
      {% from "_formhelpers.html" import render_field %}

      <form action='/login' method="POST" align="center">
        <dl align="center">
          {{render_field(form.accountNum)}}<br>
          {{render_field(form.password)}}<br>
        </dl>
        <p><input type=submit value=Login>
      </form>

    <div>
      <p>Don't have an account?</p>
      <p align="center"><a href='/register'><button class=grey>Register</button></a></p>
    </div>

    <div>
      <p align="center"><a href='/twitterLogin'><button class=grey>Sign in with Twitter</button></a></p>
    </div>

    <div>
      <p align="center"><a href='http://127.0.0.1:8001/'><button class=grey>Sign in with Dodgy Steve</button></a></p>
    </div>
  </body>
  <footer><br>Property of Steve from IT, ISEC3004, 2020</footer>

</html>
