<html>
  <head>
    <title>Steve from IT Banking</title>
  </head>

  <style>
    body {
      background-color:lightblue;
    }

    h1 {
      color: white;
      text-align: center;
    }

    h2 {
      color: white;
      text-align: center;
    }

    p {
      color: white;
      text-align: center;
      font-size: 20px;
    }

    form {
      text-align: center;
      font-size: 20px;
      color: black;
    }

    footer {
      text-align: center;
      font-size: 10px;
    }

  </style>

  <body>
    <h1>Sign Up</h1>
    <h2>Create an account with Steve from IT Banking<h2>
    <p>Complete the following information to register</p>

    {% from "_formhelpers.html" import render_field %}

    <form action='/register' method="POST">
      <dl>
        {{ render_field(form.fname) }}<br>
        {{ render_field(form.lname) }}<br>
        {{ render_field(form.password) }}<br>
      </dl>
      <p><input type=submit value=Register>
    </form>

  </body>

</html>

